# PyCity Schools Analysis

- Your analysis here
  
---

In [64]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
print(school_data.head(4))
student_data = pd.read_csv(student_data_to_load)
print(student_data.head(3))
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
   Student ID     student_name gender grade        school_name  reading_score  \
0           0     Paul Bradley      M   9th  Huang High School             66
1           1     Victor Smith      M  12th  Huang High School             94
2           2  Kevin Rodriguez      M  12th  Huang High School             90

   math_score
0          79
1          61
2          60

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [148]:
# Calculate the total number of unique schools

school_count1 = len(school_data["school_name"].unique())
print(school_count1)

school_count2 = len(school_data_complete["school_name"].unique())
print(school_count2)

15
15

In [150]:
# Calculate the total number of students
student_count1 = len(student_data["school_name"])
print(student_count1)
student_count2 = len(school_data_complete["school_name"])
print(student_count2)

39170
39170

In [152]:
# Calculate the total budget
school_dataframe = pd.DataFrame(school_data)
print(school_dataframe.head())
total_budget= school_dataframe["budget"].sum()
total_budget
#2464942

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

24649428

In [155]:
# Calculate the average (mean) math score
mean_math_score = school_data_complete["math_score"].sum()/student_count1
print(mean_math_score)

average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827
78.98537145774827

In [156]:
# Calculate the average (mean) reading score
mean_reading_score = school_data_complete["reading_score"].sum()/student_count1
print(mean_reading_score)

average_reading_score =  school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414
81.87784018381414

In [157]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [158]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count  / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [160]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [174]:
# Create a high-level snapshot of the district's key metrics in a DataFrame


district_summary = pd.DataFrame([{"Total Schools":school_count1, "Total Students":student_count1,
                                   "Total Budget": total_budget, "Average Maths Score": mean_math_score,
                                   "Average Reading Score": mean_reading_score, "% Passing Maths": passing_math_percentage,
                                   "% Passing Reading":passing_reading_percentage, "% Overall Passing":overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Maths Score"] = district_summary["Average Maths Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Maths"] = district_summary["% Passing Maths"].map("{:.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [143]:
# Use the code provided to select the tpe per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [175]:
# Calculate the total student count per school from school_data
per_school_counts = school_data["school_name"].value_counts()

In [176]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.groupby(["school_name"])["budget"].mean()
per_school_budget
per_school_capita = per_school_budget/per_school_counts

In [188]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby(["school_name"])
per_school_math_avg =per_school_math["math_score"].mean()
print(per_school_math_avg.head())

per_school_reading = school_data_complete.groupby(["school_name"])
#print(per_school_reading)
per_school_reading_avg = per_school_reading["reading_score"].mean()
print(per_school_reading_avg.head())

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64
school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [116]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =  student_data[(student_data["math_score"] > 70)]
school_students_passing_math = school_data_complete[(school_data_complete["reading_score"] > 70)]

In [117]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = student_data[(student_data["reading_score"] > 70)]
school_students_passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)]

In [118]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [119]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [219]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math_avg,
                                   "Average Reading Score": per_school_reading_avg,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing Rate": overall_passing_rate})

per_school_summary =  per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score",
                                         "% Passing Math", "% Passing Reading",
                                         "% Overall Passing Rate"]]
per_school_summary

#per_school_summary333 = pd.DataFrame(per_school_summary)
#print(per_school_summary333.head())

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: 2

## Highest-Performing Schools (by % Overall Passing)

In [202]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
hpf_schools = per_school_summary.sort_values(["% Overall Passing Rate"],ascending=False)
hpf_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [201]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bpf_schools = grouped_school_data_df.sort_values(
                ["%Overall Passing Rate"], ascending=True)
bpf_schools.head(5)

NameError: name 'grouped_school_data_df' is not defined

## Math Scores by Grade

In [210]:
# Use the code provided to separate the data by int(ni
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
print(ninth_graders)
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =  pd.DataFrame({"9th": ninth_grade_math_scores,
                                "10th":tenth_grader_math_scores,
                                "11th":eleventh_grader_math_scores,
                                "12th":twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

       Student ID      student_name gender grade         school_name  \
0               0      Paul Bradley      M   9th   Huang High School
4               4        Bonnie Ray      F   9th   Huang High School
5               5     Bryan Miranda      M   9th   Huang High School
12             12   Brittney Walker      F   9th   Huang High School
13             13      William Long      M   9th   Huang High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39152             98          84         14   Charter  1635  1043130
39153             80          75         14   Charter  1635  1043130
39157             79          94         14   Charter  1635  1043130
39164             97          76         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130

[11408 rows x 11 columns]

## Reading Score by Grade

In [213]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrameg called `reading_scores_by_grade`
reading_scores_by_grade =  pd.DataFrame({"9th": ninth_grade_reading_scores,
                                "10th":tenth_grader_reading_scores,
                                "11th":eleventh_grader_reading_scores,
                                "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [214]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
x_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [141]:
# Create a copy of the school summary since it has the "Per Student Budget"

school_spending_df = per_school_summary.copy()
school_spending_df.head()

NameError: name 'per_school_summary' is not defined

In [225]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                          spending_bins, labels=x_labels)
school_spending_df

NameError: name 'school_spending_df' is not defined

In [224]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'school_spending_df' is not defined

In [223]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing Rate": overall_passing_rate})

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [229]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=score_labels)


#per_school_summary["School Size"] = school_summary["School Size"] 
#per_school_summary

NameError: name 'per_school_summary' is not defined

In [222]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
score_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [221]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [32]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

In [ ]:
'''
My analysis:
avg reading score for 10th grade is 81.88 and avg math scoreis 79.99.
Charter schools performered better than Sistrict schools
Students have consistent performance in math and reading in Thomas High School.